@import url('https://api.fontshare.com/v2/css?f[]=satoshi@700,500,400,300&display=swap');

html {
  font-size: 62.5%;
  line-height: 1.25;
  body {
    font-family: 'Satoshi', sans-serif;
  }
}

a {
  font-weight: 500;
  text-decoration: none;
  color: $fontColor;
}

a:hover {
  cursor: pointer;
}

h1 {
  font-weight: 700;
}
