// Breakpoints
$layout-breakpoint-xlarge: 1920px;
$layout-breakpoint-large: 1440px;
$layout-breakpoint-medium: 960px;
$layout-breakpoint-small: 768px;
$layout-breakpoint-xsmall: 481px;

// Colors
$background: #b2b2a8;
$fontColor: #3e3b36;
$scrollbar: #3e3b36bd;
$white: #fcefdf;
$red: #db4c44;
$yellow: #e3ab2c;
