// Breakpoints
$layout-breakpoint-xlarge: 1920px;
$layout-breakpoint-large: 1440px;
$layout-breakpoint-medium: 960px;
$layout-breakpoint-small: 768px;
$layout-breakpoint-xsmall: 481px;

// Colors
$background: #f1ede8;
$black: #24242a;
$dark: #181818;
$blur: #ededed;
$projecthover: #cfd2cf;
