.about-section,
.about-text {
  display: flex;
  flex-direction: column;
}

.about-section {
  margin-top: 4rem;
  align-items: flex-start;
  @media (max-width: $layout-breakpoint-xsmall) {
    margin-top: 1rem;
  }
  .line {
    height: 3px;
    width: 100%;
    background: $black;
    @media (max-width: $layout-breakpoint-xsmall) {
      height: 2px;
    }
  }
  .about-text {
    overflow: hidden;
    gap: 2rem;
    @media (max-width: $layout-breakpoint-xsmall) {
      gap: 1rem;
    }
    p {
      width: 60%;
      padding-bottom: 1rem;
      font-size: 1.2vw;
      line-height: 1.5vw;
      @media (max-width: $layout-breakpoint-large) {
        font-size: 1.6rem;
        line-height: 2.4rem;
        width: 100%;
        hyphens: auto;
      }
    }
    & .contact {
      width: 100%;
    }
  }
  ul {
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5rem;
  }
}
.contact-link {
  font-size: 1.2vw;
  font-weight: 500;
  text-decoration: none;
  color: $black;
  padding: 3px;
  background-image: linear-gradient($black 0 0);
  background-position: 100% 100%;
  background-size: 100% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.3s, background-position 0s 0.3s;
  @media (max-width: $layout-breakpoint-large) {
    font-size: 1.6rem;
  }
}
.contact-link:hover {
  background-size: 100% 100%;
  color: $background;
}
