.about-container {
  @media (max-width: $layout-breakpoint-xsmall) {
    gap: 25vw;
  }

  .about-me {
    width: 60%;
    @media (max-width: $layout-breakpoint-large) {
      width: 80%;
    }
    @media (max-width: $layout-breakpoint-medium) {
      width: 100%;
    }
  }

  .exp-list {
    width: 50%;
    align-self: flex-end;
    gap: 4rem;
    @media (max-width: $layout-breakpoint-medium) {
      width: 100%;
    }
  }

  .exp-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h2 {
      font-size: 2.5vw;
      padding-bottom: 0.1rem;
      width: 10vw;
      text-align: right;
      @media (max-width: $layout-breakpoint-medium) {
        font-size: 4vw;
        width: 18vw;
      }
      @media (max-width: $layout-breakpoint-small) {
        font-size: 5vw;
        width: 20vw;
      }
    }
    :first-child {
      text-align: left;
    }
  }
}
