.hero-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80vh;
  @media (max-width: $layout-breakpoint-large) {
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    text-align: center;
  }
  @media (max-width: $layout-breakpoint-medium) {
    gap: 3rem;
  }
  @media (max-width: $layout-breakpoint-xsmall) {
    align-items: flex-start;
    text-align: left;
  }
  .hero-text {
    overflow: hidden;
    h1 {
      font-size: 5vw;
      line-height: 7vw;
      @media (max-width: $layout-breakpoint-large) {
        font-size: 7vw;
        line-height: 10vw;
      }
      @media (max-width: $layout-breakpoint-xsmall) {
        font-size: 9vw;
        line-height: 12vw;
      }
    }
  }
  .hero-subtext {
    overflow: hidden;
    max-width: 45%;
    align-self: flex-end;
    p {
      display: flex;
      font-size: 1.2vw;
      line-height: 2vw;
      font-weight: 500;
      text-align: right;
    }
    @media (max-width: $layout-breakpoint-large) {
      max-width: 73%;
      align-self: center;
      p {
        text-align: center;
        font-size: 1.8vw;
        line-height: 2.5vw;
      }
    }
    @media (max-width: $layout-breakpoint-medium) {
      max-width: 80%;
      p {
        font-size: 2vw;
        line-height: 2.5vw;
      }
    }
    @media (max-width: $layout-breakpoint-small) {
      max-width: 100%;
      p {
        font-size: 1.8rem;
        line-height: 3rem;
      }
    }
    @media (max-width: $layout-breakpoint-xsmall) {
      p {
        text-align: left;
        font-size: 1.6rem;
        line-height: 2.5rem;
      }
    }
  }
}
