.work-container {
  @media (max-width: $layout-breakpoint-xsmall) {
    gap: 30vw;
  }

  ul {
    width: 100%;
    gap: 2rem;
    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $background;
    }
    h2 {
      font-size: 2.5vw;
      font-weight: 500;
      width: 15vw;
    }
    h3 {
      font-size: 1.3vw;
      font-weight: 400;
      width: 30vw;
      justify-content: flex-start;
      opacity: 0;
      visibility: hidden;
      transition: 0.4s;
    }
    li {
      padding: 1vh;
      transition: 0.4s;
      border-radius: 2.5rem 0 2.5rem 0;
      background-color: $fontColor;
      @media (max-width: $layout-breakpoint-medium) and (max-height: $layout-breakpoint-xsmall) {
        padding-left: 1rem;
      }
    }

    li:hover {
      .arrow {
        opacity: 100%;
      }
      h3 {
        visibility: visible;
        opacity: 1;
      }
    }
    .arrow {
      opacity: 0%;
      transition: 0.4s;
      margin-right: 0.1rem;
    }
    @media (max-width: $layout-breakpoint-small) {
      h2 {
        font-size: 5vw;
      }
      h3 {
        display: none;
      }
      .arrow {
        opacity: 100%;
      }
    }
    @media (max-width: $layout-breakpoint-xsmall) {
      h2 {
        font-size: 7.5vw;
      }
    }
  }
}
