nav {
  font-size: 1.7rem;
  height: 7rem;
  width: 100%;
  padding: 0 10.8rem;
  display: flex;
  justify-content: center;
  @media (max-width: $layout-breakpoint-medium) {
    padding: 0 7.2rem;
    font-size: 1.6rem;
  }
  @media (max-width: $layout-breakpoint-medium) {
    padding: 0 3rem;
  }
  @media (max-width: $layout-breakpoint-xsmall) {
    padding: 0 1.2rem;
    font-size: 1.2rem;
  }
  .header-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      font-weight: 700;
      font-size: 2.5vw;
      letter-spacing: -0.6vw;
      z-index: 200;
      @media (max-width: $layout-breakpoint-medium) {
        font-size: 3.2rem;
        letter-spacing: -0.8rem;
        flex: 4;
      }
      .nav-logo {
        text-decoration: none;
        color: $black;
      }
      .nav-logo-open {
        text-decoration: none;
        color: $background;
        transition: 0.6s;
      }
    }
    .menu-show a {
      margin-top: -4vw;
      list-style: none;
      text-decoration: none;
      color: $background;
      transition: 0.4s;
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      justify-content: space-between;
      span {
        align-self: center;
        display: flex;
        .chevron {
          fill: $background;
          width: 6vw;
          height: 6vh;
          visibility: hidden;
        }
      }
      @media (max-width: $layout-breakpoint-medium) {
        flex-direction: row-reverse;
        gap: 2rem;
        margin-top: 0;
        span {
          margin-top: 1vh;
          .chevron {
            transform: rotateY(0deg) rotate(90deg);
            width: 4.5vh;
            height: 4.5vh;
          }
        }
      }
    }
    .menu-show a.active {
      .chevron {
        visibility: visible;
      }
    }
    ul li a:hover,
    ul li a:focus {
      color: $background;
    }
    ul:hover a {
      filter: blur(5px);
      color: $blur;
    }
    ul:hover a:hover {
      filter: blur(0px);
    }
    .hamburger-icon {
      z-index: 200;
    }
    .menu-hide {
      display: none;
    }
    .menu-show {
      background: $dark;
      font-size: 8vw;
      z-index: 150;
      min-width: 100%;
      min-height: 100%;
      display: flex;
      text-align: center;
      justify-content: center;
      position: fixed;
      bottom: 0;
      right: 0;
      list-style: none;
      ul {
        display: flex;
        gap: 10vw;
        flex-direction: row;
        align-self: center;
        li {
          text-align: left;
        }
        @media (max-width: $layout-breakpoint-medium) {
          flex-direction: column;
        }
      }
      @media (max-width: $layout-breakpoint-medium) {
        font-size: 8rem;
      }
      @media (max-width: $layout-breakpoint-xsmall) {
        justify-content: flex-start;
        align-items: center;
        font-size: 7rem;
      }
    }
  }
}
